.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  font-size: 1.5rem;
}

th {
  margin-bottom: 2rem;
}

.header {
  vertical-align: top;
}

table {
  width: 70vh;
  margin-bottom: 2rem;
}

.indicators {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.buttons {
  text-align: right;
}

.indicator {
  color: blue;
}

.done {
  text-decoration: line-through;
}

.important {
  font-weight: bold;
  color: blue;
}

button {
  margin-left: 1rem;
}

.indicators div {
  margin-bottom: 0.5rem;
}

